#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.main{
  text-align: center;
}
input{
  width: 400px;
  height: 30px;
  font-size: 16px;
  padding: 5px;
  margin-top: 20px;
  border: 2px solid whitesmoke;
  border-radius: 30px;
}
.website_title{
  position: absolute;
  top: 20px;
  left: 50%;
  bottom: auto;
  /* right: 50%; */
  transform: translateX(-50%);
  margin-bottom: 50px;
}
.nav-container{
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: absolute;
  top: 10px;
  left: 90%;
  transform: translateX(-50%);
  z-index: 1000;
  margin-bottom: 20px;
}
/* Page background */
.about-page {
  min-height: 100vh;
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 150px 20px;
  padding-bottom: 60px;
  top: 20px;
}

/* Main content box */
.about-container {
  max-width: 800px;
  width: 100%;
  top: 20px;
}

/* Intro text */
.about-intro {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 40px;
  color: #cccccc;
  margin-top: 50px;
}

/* Section blocks */
.about-section {
  margin-bottom: 50px;
  padding: 25px;
  background: #2a2a2a;
  border-radius: 10px;
  margin-top: 20px;
}

/* Section titles */
.about-section h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #ffffff;
  top: 20%;
}

/* Lists */
.about-section ul {
  list-style-type: none;
  padding-left: 0;
}

.about-section li {
  font-size: 17px;
  margin-bottom: 10px;
  color: #dddddd;
}
/* Hidden by default */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-in-out;
}

/* When visible */
.reveal.active {
  opacity: 5;
  transform: translateY(0);
}

.contactme-section ul{
  list-style-type: none;
  padding-left: 0;
}

.contactme-section li{
  display: flex;
  font-size: 17px;
  margin-bottom: 10px;
  color: #dddddd;
  list-style-type: none;
  padding-left: 0;
  justify-content: center;   /* horizontal center */
  align-items: center;  
}


.contactme-section a:hover {
  text-decoration: underline;
}

.black-box{
  background-color: #1e1e1e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 7px 14px 40px 14px;
  border-radius: 12px;
  text-align: center;
}

.alignment{
  justify-content: center;   /* horizontal center */
  align-items: center;  
}